
formTable{
	width:600px;
	margin:0 auto; /*サイト全体を中央配置*/
	color:#555;
	line-height:800px; /* 行の高さを指定する*/
	font-size:500px;
}
table.formTable{                /*formTable外枠全部*/
	width:600px;
	margin:0 auto;              /*左右等分のmarginが算出され、ボックスは中央に配置*/
	border-collapse:collapse; /*セルのボーダーの表示の仕方を指定する*/
}
table.formTable td, table.formTable th{
	border:1px solid #000000; /*枠線色*/
	padding:10px; /*パディングに関する指定をまとめて行う 領域内のｽﾍﾟｰｽ*/
}
table.formTable th{
	width:500px;
	font-weight:bold; /*フォント太さ(左側太字に変更)*/
	background:#E4D7EA;
	text-align:left; /* 行揃えの位置・均等割付を指定する 左*/
	vertical-align: middle;	 /* 縦方向の揃え位置を指定する 中央寄せ」*/
}
.name1{
	width:400px; /*出力枠固定*/
}
.press { /*タイトル文字装飾*/
  color: transparent;/*インラインフレームの背景を透過*/
  background-color : purple;
  text-shadow : rgba(255,255,255,0.5) 1px 5px 5px; /*RGBAカラーモデルで色を指定する*/
-webkit-background-clip : text;
}
textarea{
	width:400px;
	height:150px;
	font-size:15px;
	resize:none;        /*質問内容　テキストエリア固定*/
	border-radius: 5px;
}
table.formTable {
    background: #EDEDED; /*背景色*/
}
button.button1 {
	font-size: 1.4em;/* 文字サイズを1.4emに指定 */
    font-weight: bold;/* 文字の太さをboldに指定 */
    padding: 7px 50px;/* 縦方向に10px、横方向に30pxの余白を指定 */
	position: relative;
	left:30px;

    color: #fff;/* 文字色を白色に指定 */

	border-style: none;    /* ボーダーをなくす */

    box-shadow: 2px 2px 3px 1px #666;			/* ボタンの影の指定 影の横幅を2px  縦長を2px ぼかしを3px 広がりを1px 色を#666（グレー）に指定 */
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    text-shadow: 1px 1px 2px #000;/* テキストの影の指定 影の横幅を1px 縦長を1px ぼかしを2px 色を#000（黒）に指定 */
    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#c3f), color-stop(0.5, #83d), to(#c3f));
    /* 角丸の指定 */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
button.button1:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}
button.button2 {
	font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
	position: relative;
	left: 200px;

    color: #fff;

	border-style: none;

    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    text-shadow: 1px 1px 2px #000;

    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;


}

button.button2:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}
