
formTable{
	width:400px;
	margin:0 auto; /*サイト全体を中央配置*/
	color:#555;
	line-height:800px; /* 行の高さを指定する*/
	font-size:500px;

}
table.formTable{                /*formTable外枠全部*/
	width:600px;
	margin:0 auto;              /*左右等分のmarginが算出され、ボックスは中央に配置*/
	border-collapse:collapse; /*セルのボーダーの表示の仕方を指定する*/

}
table.formTable td, table.formTable th{
	border:1px solid #000000; /*枠線色*/
	padding:15px; /*パディングに関する指定をまとめて行う 領域内のｽﾍﾟｰｽ*/

}
table.formTable th{
	width:500px;
	font-weight:bold; /*フォント太さ(左側太字に変更)*/
	background:#E4D7EA;
	text-align:left; /* 行揃えの位置・均等割付を指定する 左*/
	vertical-align: middle;	 /* 縦方向の揃え位置を指定する 中央寄せ」*/
}
textarea{
	width:400px;
	height:150px;
	font-size:12px;
	resize:none;        /*質問内容　テキストエリア固定*/
	border-radius: 5px;
}
table.formTable {
    background: #EDEDED;
}
